nav{
    position: fixed;  
    width: 100% ;
    z-index: 1000;
    box-shadow:  0px 0px 10px rgb(146, 146, 146);
}
.navbar-wrap{
    width: 100%;
    height: 36px;
    background-color:  rgb(161, 113, 101);
    display: flex;
    justify-content:flex-end;   
    align-items: center;
}
.navbar-item{
    display: flex;
    color: white;
    font-size: 15px;
    font-family: 微軟正黑體;
    margin-right: 48px;
    text-align: center;
    align-items: center;
    /* background-color: rgb(173, 12, 12); */
}
.navbar-item p{
   padding-right: 24px;
}
.Sign-in button{
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
 }
 .menu-wrap{
     background-color:white;
     width: 100%;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content:space-between;
 }
 .menu-item{
    display: flex;
    align-items: center;
 }
 .menu-wrap img{
     height: 70px;
     padding-left: 50px;
     padding-right: 30px;
 }
 .menu-wrap a{
    text-decoration:none;
 }
 .menu-btn li{
     display: inline;
     color: rgb(94, 94, 94);
     background-color:rgba(255, 255, 255, 0);
     border: none;
     font-family: 微軟正黑體;
     font-size: 20px;
     padding: 10px;
 }
 .menu-btn li:hover{
    color: #BA9D58;
    font-weight: bold;
}
 .search-shop{
    display: flex;
    align-items: center;
    /* background-color: tomato; */
    margin-right: 20px;
 }
 .search-product input#search{
    width: 250px;
    height: 30px;
    background: #e2e2e2;
    border: none;
    font-size: 12pt;
    font-family: 微軟正黑體;
    color: #ffffff;
    padding-left: 45px;
    border-radius: 50px;
  }
  .search-product .icon{
    position: absolute;
    top: 44%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #ffffff;
  }
  .search-shop img{
    height: 40px;
    padding-left: 10px;
  }
.content-wrap {
    width: 100%;
    height: 1480px;
    background-color: #FCF5E6;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 116px;
    box-sizing: border-box;
    position: relative;
}

.icon{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.icon img{
    height: 165px;
}
.purpose-wrap{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: rgb(203, 163, 241); */
}
.purpose-wrap img{
    width: 50%;
}
.purpose-text{
    text-align: center;
    width: 500px;
    /* background-color: cadetblue; */
    margin-top: -100px;
    color: rgb(90, 90, 90);
}
.purpose-text h2{
    font-size: 35px;
    font-weight: 800;
}
.purpose-text p{
    padding-top: 30px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}
/* ------------------------------------- */
.pet-health-wrap{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(203, 163, 241); */
}
.pet-health-wrap img{
    width: 50%;
}
.pet-health-text{
    text-align: center;
    width: 500px;
    /* background-color: cadetblue; */
    margin-top: -100px;
    margin-left: 80px;
    color: rgb(90, 90, 90);
}
.pet-health-text h2{
    font-size: 35px;
    font-weight: 800;
}
.pet-health-text p{
    padding-top: 30px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}
/* ------------------------------------- */
.goal-wrap{
    background-image: url(../pic/goal.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    align-items: center;
}
.goal-item{
    width: 500px;
    height: 400px;
    background-color: rgba(49, 49, 49, 0.432);
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.goal-item h2{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 800;
}
.goal-item p{
    box-sizing: border-box;
    padding: 50px;
    padding-top: 30px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}
/* footer */
footer {
    background-color: #8a6f58;
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    top: -3px;
    border-top: 6px dotted #ba9d58;
}

footer::after {
    content: '';
    display: block;
    background-image: url('../pic/feet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.top-wrap {
    padding: 30px 0;
    display: flex;
}

.left-wrap {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 170px;
}

.footer-logo img {
    width: 100%;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.about-wrap a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

.right-wrap {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-wrap::before {
    content: '';
    display: block;
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: white;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.right-wrap p {
    line-height: 1.5;
    color: white;
}

.contact-us {
    margin-bottom: 10px;
    font-size: 18px;
}

.about-detail-wrap {
    background-color: #8a6f58;
    border-top: 2px solid white;
    padding: 30px 0;
}

.about-detail-wrap p {
    text-align: center;
    font-size: 12px;
    color: white;
    line-height: 1.5;
}