nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
}

.navbar-wrap {
    width: 100%;
    height: 36px;
    background-color: rgb(161, 113, 101);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-item {
    display: flex;
    color: white;
    font-size: 15px;
    font-family: 微軟正黑體;
    margin-right: 5%;
    text-align: center;
    align-items: center;
    /* background-color: rgb(173, 12, 12); */
}

.navbar-item p {
    padding-right: 24px;
}

.sign-in button {
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    outline: none;
    cursor: pointer;
}

.menu-wrap {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-wrap .logo {
    height: 45px;
    padding-left: 60%;
}

.search-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20%;

}

.search-product input#search {
    width: 100%;
    background: #dadada;
    border: none;
    font-size: 1em;
    font-family: 微軟正黑體;
    color: #000000;
    padding-left: 45px;
    border-radius: 50px;
    outline: none;

}

.search-product button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    cursor: pointer;
}

.search-product .icon {
    position: absolute;
    bottom: 32%;
    left: 5px;
    margin-right: 165px;
    color: #ffffff;
}

.shopping-cart {
    width: 25px;
    margin-top: 12px;
    margin-left: 10px;
}

.shopping-cart img {
    width: 100%;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%;
    position: relative;
}

.hamburger button {
    margin-top: 5px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger img {
    height: 35px;
}

#hamburger_menu {
    display: none;
    font-size: 微軟正黑體;
    background-color: rgba(59, 59, 59, 0.856);
    overflow: hidden;
}

#hamburger_menu li {
    width: 200px;
    height: 55px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hamburger_menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 微軟正黑體;
}

.menu-btn-wrap {
    display: none;
}

/* -----------------nav animation */
.active {
    display: block !important;
    position: absolute;
    top: 50px;
    right: -25px;
    animation: change 1.5s forwards;
}

@keyframes change {
    from {
        height: 0;
    }

    to {
        height: 220px;
    }
}

.goBack {
    animation: goBack 1.5s forwards;
}

@keyframes goBack {
    from {
        height: 220px;
    }

    to {
        height: 0px;
    }
}
/* ------------------ */
.content-wrap {
    width: 100%;
    background-image: url('../pic/product-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 116px;
    box-sizing: border-box;
    position: relative;
}

.page-title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.page-title-wrap::before {
    content: '';
    display: block;
    width: 75px;
    height: 50px;
    background-image: url('../pic/cloud-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.page-title-wrap::after {
    content: '';
    display: block;
    width: 75px;
    height: 50px;
    background-image: url('../pic/cloud-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 25px;
    color: #724d28;
    margin-top: -5px;
    font-family: 微軟正黑體;
    font-weight: 800;
}


h2 {
    color: #463728;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
}
.options-card {
    background-color: #ffffff;
    width: 80%;
    max-width: 700px;
    height: 370px;
    position: relative;
    border: ;
}

.options-card::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:92%;
    height: 330px;
    border: 3px solid #BA9D58;
}

.options-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-item {
    margin: 0 20px;
    border: 0px;
    background-color: #00000000;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.move-lest{
   left: 20px;
}

.btn-item>p {
    margin: 30px;
    font-size: 20px;
    color: #463728;

}

.btn-pic-wrap {
    border-radius: 50%;
    box-shadow: 0px 14px 11px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 250px;
    position: relative;
    transition: .5s;
}

.btn-pic-wrap>img {
    width: 100%;
}

.btn-pic-wrap:hover {
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
    top: 10px;
}

.next {
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
    border: 0px;
    background-color: #00000030;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    outline: none;
    cursor: pointer;
}

.next-arrow-warp {
    margin: auto;
    width: 50px;
    font-size: 0;
}

.next-arrow-warp img {
    width: 100%;
}

.cat-paw-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;
}
.paw-pic{
    width: 13%;
    max-width: 150px;
}
.cat-paw-wrap img{
    width: 100%;
    display: block;
}
.left-cat-pic, .right-dog-pic{
    display: none;
}

/* footer */
footer {
    background-color: #8a6f58;
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    top: -3px;
    border-top: 6px dotted #ba9d58;
}

footer::after {
    content: '';
    display: block;
    background-image: url('../pic/feet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.top-wrap {
    padding: 30px 0;
    display: flex;
}

.left-wrap {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 80px;
}

.footer-logo img {
    width: 100%;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5%;
}

.about-wrap a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

.right-wrap {
    flex-grow: 1;
    font-size: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-wrap::before {
    content: '';
    display: block;
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: white;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.right-wrap p {
    line-height: 1.5;
    color: white;
}

.contact-us {
    margin-bottom: 10px;
    font-size: 18px;
}

.about-detail-wrap {
    background-color: #8a6f58;
    border-top: 2px solid white;
    padding: 30px 0;
}

.about-detail-wrap p {
    text-align: center;
    font-size: 12px;
    color: white;
    line-height: 1.5;
}


/* -----------------------------RWD(768px) */
@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .shopping-cart {
        margin-right: 5%;
        margin-left: 2%;
    }

    .search-product {
        position: absolute;
        right: 10%;
        bottom: 15px;
    }

    .search-product .icon {
        position: absolute;
        bottom: 18%;
        left: 5px;
        margin-right: 165px;
        color: #ffffff;
    }

    .logo {
        margin-right: -10px;
    }

    .menu-btn-wrap {
        display: block;
        /* background-color: #8CCAD9;  */
        position: absolute;
        bottom: 16px;
        left: 80px;
    }

    .menu-btn-wrap a {
        text-decoration: none;
        color: rgb(94, 94, 94);
        background-color: rgba(255, 255, 255, 0);
        border: none;
        font-family: 微軟正黑體;
        font-size: 14px;
        padding: 4px;
    }

    .menu-btn li {
        display: inline;
    }

    .menu-btn a:hover {
        color: #BA9D58;
        font-weight: bold;
    }
    .page-title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .page-title-wrap::before {
        display: block;
        width: 90px;
        height: 50px;
        background-image: url('../pic/cloud-1.png');
    }
    
    .page-title-wrap::after {    
        width: 90px;
        height: 50px;
        background-image: url('../pic/cloud-2.png');  
    }
    
    h1 {
        font-size: 35px;
    }

    h2{
        font-size: 28px;
        text-align: center;
        font-weight: 500;
        margin: 30px 0;
        margin-top: -33px;
    }
    .next {
        right: -32px;
        top: 50%;
        width: 55px;
        height: 55px;
    }

}
/* -----------------------RWD(992px) */
@media screen and (min-width: 992px) {
    .menu-btn-wrap a {
        font-size: 18px;
        padding: 8px;
    }
}
/* -----------------------RWD(1200px) */
@media screen and (min-width: 1200px) {
    .left-cat-pic, .right-dog-pic{
        display: block;
    }
    .cat-paw-wrap{
        display: none;
    }

    .left-cat-pic {
        position: absolute;
        bottom: 28%;
        left: 3%;
        width: 15%;
    }
    
    .left-cat-pic>img {
        width: 100%;
    }
    
    .right-dog-pic {
        width: 17%;
        display: block;
        position: absolute;
        bottom: 25%;
        right: 3%;
    }
    
    .right-dog-pic>img {
        width: 100%;
    }
    footer{
        margin-top: 39px;
    }
    
}