a{
    text-decoration:none;
}
nav{
    position: fixed;  
    width: 100% ;
    z-index: 1000;
    box-shadow:  0px 0px 10px rgb(146, 146, 146);
}
.navbar-wrap{
    width: 100%;
    height: 36px;
    background-color:  rgb(161, 113, 101);
    display: flex;
    justify-content:flex-end;   
    align-items: center;
}
.navbar-item{
    display: flex;
    color: white;
    font-size: 15px;
    font-family: 微軟正黑體;
    margin-right: 48px;
    text-align: center;
    align-items: center;
    /* background-color: rgb(173, 12, 12); */
}
.navbar-item p{
   padding-right: 24px;
}
.Sign-in button{
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
 }
 .menu-wrap{
     background-color:white;
     width: 100%;
     height: 80px;
     display: flex;
     align-items: center;
     justify-content:space-between;
 }
 .menu-item{
    display: flex;
    align-items: center;
 }
 .menu-wrap img{
     height: 70px;
     padding-left: 50px;
     padding-right: 30px;
 }
 .menu-wrap a{
    text-decoration:none;
 }
 .menu-btn li{
     display: inline;
     color: rgb(94, 94, 94);
     background-color:rgba(255, 255, 255, 0);
     border: none;
     font-family: 微軟正黑體;
     font-size: 20px;
     padding: 10px;
 }
 .menu-btn li:hover{
    color: #BA9D58;
    font-weight: bold;
}
 .search-shop{
    display: flex;
    align-items: center;
    /* background-color: tomato; */
    margin-right: 20px;
 }
 .search-product input#search{
    width: 250px;
    height: 30px;
    background: #e2e2e2;
    border: none;
    font-size: 12pt;
    font-family: 微軟正黑體;
    color: #ffffff;
    padding-left: 45px;
    border-radius: 50px;
  }
  .search-product .icon{
    position: absolute;
    top: 44%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #ffffff;
  }
  .search-shop img{
    height: 40px;
    padding-left: 10px;
  }
/* ------------------------------------- */
.content-wrap {
    width: 100%;
    height: 1530px;
    background-color: #FCF5E6;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 116px;
    box-sizing: border-box;
    position: relative;
}
.page-title-wrap {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-title-wrap::before {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background-image: url('../pic/cloud-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.page-title-wrap::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background-image: url('../pic/cloud-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    font-size: 60px;
    color: #463728;
    margin-top: 30px;
    font-family: 微軟正黑體;
    font-weight: 800;
}
.result-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-tittle h2{
    font-size: 30px;
    color: #463728;
    margin-top: 30px;
    font-family: 微軟正黑體;
    font-weight: 800;
}
.result-tittle p{
    font-size: 20px;
    color: #463728;
    margin-top: 20px;
    font-family: 微軟正黑體;
    font-weight: 800;
}
.result-tittle span{
    font-size: 20px;
    color: #bf9c4b;
    margin-top: 20px;
    font-family: 微軟正黑體;
    font-weight: 1000;
}
.result-tittle::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 30px;
    background-color: #bf9c4b;
}
.product-wrap{   
    margin-top: 30px;
    position: absolute;
    margin-left: 41.5%;
}
.product-tittle{
    width: 250px;
    height: 50px;
    background-color:#bf9c4b;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 10px rgb(146, 146, 146);
}
.product-tittle h3{
    color: white;
    font-size: 25px;
}
.product-item{
   width: 70%;
   height: 450px;
   margin: auto;
   margin-top: 50px;
   background-image: url(../pic/bg-pic.png);
   box-shadow:  0px 0px 10px rgb(180, 180, 180);
   border-radius: 10px;
   display: flex;
   justify-content: space-evenly;
}
.cat-product-card-box{
    /* background-color: red; */
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cat-product-card{
    width: 250px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    box-shadow:  0px 0px 10px rgb(146, 146, 146);
}
.cat-product-card img{
    width: 200px;
    margin-top: 22px;
}
.cat-product-card h4::before{
    content: '';
    display: block;
    width: 210px;
    height: 2.5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #cfcfcf;
}
.cat-product-card h4{
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
}
.price{
    font-size: 30px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: rgb(202, 5, 5);
    margin: 5px 0 0 0;
}
.read-more {
    font-size: 16px;
    color:  #7ca4d1;
    margin-left: 150px;
    margin-top: 3px;
    font-family: 為轉正黑體;
}
.btn-box {
    width: 120px;
    height: 30px;
    margin-top: 15px;
}

.btn-box button {
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(197, 197, 197);
    color: white;
    box-shadow: 0px 5px 5px rgb(182, 182, 182);
}

.btn-box button:hover {
    background-color: #BA9D58;
    margin-top: 3px;
    box-shadow: 0px 0px 5px rgb(182, 182, 182);
}

.move-top{
    margin-top: 100px;
}
.product-wrap-move{
    margin-top:-28px;
}
/* footer */
footer {
    background-color: #8a6f58;
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    top: -3px;
    border-top: 6px dotted #ba9d58;
}

footer::after {
    content: '';
    display: block;
    background-image: url('../pic/feet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.top-wrap {
    padding: 30px 0;
    display: flex;
}

.left-wrap {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 170px;
}

.footer-logo img {
    width: 100%;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.about-wrap a {
    text-decoration: none;
    color: white;
    line-height: 2;
}

.right-wrap {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-wrap::before {
    content: '';
    display: block;
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: white;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.right-wrap p {
    line-height: 1.5;
    color: white;
}

.contact-us {
    margin-bottom: 10px;
    font-size: 18px;
}

.about-detail-wrap {
    background-color: #8a6f58;
    border-top: 2px solid white;
    padding: 30px 0;
}

.about-detail-wrap p {
    text-align: center;
    font-size: 12px;
    color: white;
    line-height: 1.5;
}